__pycache__/config.cpython-312.pyc
controllers/__pycache__/errorController.cpython-312.pyc
routes/__pycache__/errorRoute.cpython-312.pyc
controllers/__pycache__/pasosController.cpython-312.pyc
routes/__pycache__/pasosRoute.cpython-312.pyc
routes/__pycache__/indexRoute.cpython-312.pyc
.gitignore
controllers/__pycache__/indexController.cpython-312.pyc
